#description{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: $color-lightgray;
    width: 100%;
    h1{
        margin-bottom: 4%;
        padding-top: 5%;
        font-size: 24px;
    }
    p{
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 18px;
    }
}