#location{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $color-gray;
    box-shadow: rgb(0, 0, 0) 0px 26px 22px -38px inset;

    p{
        margin-left: 15px;
    }
}