@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.btn--text {
  font-family: "Roboto", sans-serif;
}

.btn--menu {
  height: 5vh;
  width: 20vh;
  border: none;
  border-radius: 25px;
  margin-bottom: 6vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn--gradient {
  background: linear-gradient(355deg, #9356DC, #FF79DA);
}

.btn--fonctionnement {
  padding: 8%;
  border: none;
  border-radius: 20px;
  margin-bottom: 5%;
  background: #F6F6F6;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 95vw;
}

.btn--margin {
  margin-top: 3vh;
  margin-bottom: 7vh;
}

.btn--text {
  margin-left: 20px;
}

.btn--wtext {
  color: white;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: initial;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#logo img {
  height: 3.3vh;
  width: auto;
  margin-top: 8%;
  margin-bottom: 4%;
}

#background__restaurant {
  background-image: url(../../images/restaurants/a_la_francaise.jpg);
  width: 100%;
  height: 30vh;
  background-size: cover;
}

#background__restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 3.3vh;
  width: 100%;
  display: none;
}

#block_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -50px;
  position: relative;
}

.entrees p, .plats p, .desserts p {
  -webkit-text-decoration: underline #99E2D0 4px;
          text-decoration: underline #99E2D0 4px;
  text-underline-offset: 6px;
  margin-bottom: 22px;
}

.nom_restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 8%;
}

.nom_restaurant h1 {
  margin-right: 22vw;
}

.nom_restaurant i {
  font-size: 20px;
}

.menu {
  border: 2px solid #fff;
  width: 90vw;
  margin-bottom: 15px;
  border-radius: 12px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu h2 {
  margin: 10px 10px 6px 10px;
  font-size: 16px;
}

.menu p {
  margin: 0px 10px 10px 10px;
  width: 100%;
  height: 16px;
  font-size: 13.5px;
  text-decoration: none;
}

.prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: -24px;
  margin-right: 5vw;
  padding-bottom: 10px;
  font-weight: bold;
}

#location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #F2F2F2;
  -webkit-box-shadow: black 0px 26px 22px -38px inset;
          box-shadow: black 0px 26px 22px -38px inset;
}

#location p {
  margin-left: 15px;
}

#description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  width: 100%;
}

#description h1 {
  margin-bottom: 4%;
  padding-top: 5%;
  font-size: 24px;
}

#description p {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 18px;
}

#fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fonctionnement h2 {
  margin-top: 12%;
  width: 95vw;
}

#restaurants {
  display: -ms-grid;
  display: grid;
  background-color: #F6F6F6;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#restaurants h3 {
  font-size: 20px;
}

#restaurants img {
  height: 16vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurants__cartes {
  margin-bottom: 20px;
  width: 95vw;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.restaurants__cartes__description {
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid #fff;
  margin-top: -5px;
}

.restaurants__cartes__description h3 {
  margin: 12px 0 6px 10px;
}

.restaurants__cartes__description p {
  margin: 0 0 0 10px;
}

.coeurs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -40px 100% 30px 82%;
  font-size: 22px;
}

footer {
  padding-left: 8%;
  background-color: #353535;
  width: 100%;
}

footer img {
  height: 18px;
  width: auto;
  margin-top: 25px;
  margin-bottom: 8px;
}

footer ul {
  padding: 0 0 20px 0;
  margin-top: 6px;
  margin-bottom: 0;
}

footer li {
  list-style-type: none;
  color: #fff;
  padding-bottom: 8px;
}

footer i {
  margin-right: 6px;
  font-size: 10px;
  width: 12px;
}
