.btn{

    &--menu{
        padding: 16px;
        border: none;
        border-radius: 25px;
        margin-bottom: 55px;
        @include box-shadow;
    }

    &--gradient{
        background: linear-gradient(355deg, $color-primary,$color-secondary);
    }
    &--fonctionnement{
        padding: 20px;
        border: none;
        border-radius: 20px;
        margin-bottom: 20px;
        background: $color-lightgray;
        @include box-shadow;
        width: 100%;
        &:hover{
            background-color: $color-primary-hover;
            i{
                color: $color-primary;
            }
        }
    }
    &--order{
        padding: 14px 40px;
    }
    &--text{
        margin-left: 20px;
    }

    &--wtext{
        color: white;
        font-size: 14.5px;
    }
}