.btn {
    &--acceuil {
        background: $color-white;
        border: none;
        position: absolute;
        font-size: 20px;
        left: 13px;
        top: 27px;
    }

    &--menu {
        padding: 16px;
        border: none;
        border-radius: 25px;
        @include box-shadow;
    }

    &--margin {
        margin-bottom: 55px;
    }

    &--gradient {
        background: linear-gradient(355deg, $color-primary, $color-secondary);
    }

    &--fonctionnement {
        padding: 20px;
        border: none;
        border-radius: 20px;
        margin-bottom: 20px;
        background: $color-lightgray;
        @include box-shadow;
        width: 100%;
        position: relative;

            i {
                position: absolute;
                display: flex;
                font-size: 15px;
                left: 32px;
            }

            .numero {
                position: absolute;
                display: flex;
                left: -8px;
                top: 18px;
                font-size: 13px;
                background: $color-primary;
                color: $color-white;
                padding: 4px 8px;
                border-radius: 25px;
            }

            &:hover {
                background-color: $color-primary-hover;

                    i {
                        color: $color-primary;
                }
            }
        }

    &--order {
        padding: 14px 40px;
    }

    &--wtext {
        color: white;
        font-size: 14.5px;
    }
}

.text {
    
    &--white {
        color: white;
        font-size: 14.5px;
    }
}
