.icon {
    height: 24px;
    width: 24px;
    font-size: 23px;

    .fa-solid{
        display: none;
        
        &::before{
            background: -webkit-linear-gradient(350deg, $color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &:hover, &:active {

        .fa-solid{
            display: block;
        }

        .fa-regular{
            display: none;
        }
    }
}