.icon {
    height: 24px;
    width: 24px;
    font-size: 23px;

    .fa-solid {
        display: none;

        &::before {
            background: -webkit-linear-gradient(350deg, $color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &--restaurants {
        &:hover {
            .fa-solid {
                position: absolute;
                top: 35px;
            }
        }
    }

    &:hover,
    &:active {
        .fa-solid {
            display: block;
            animation: coeur 1.5s both;
        }

        .fa-regular {
            opacity: 0;
            transition: all 300ms;
        }
    }
}
