#location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $color-gray;
    box-shadow: rgb(0, 0, 0) 0px 26px 22px -38px inset;

    p {
        margin-left: 15px;
        font-weight: bold;
    }
}

#description {
    text-align: center;
    background-color: $color-lightgray;
    padding-left: 15px;
    padding-right: 15px;

    h1 {
        margin-top: 0;
        margin-bottom: 12px;
        padding-top: 33px;
        font-size: 22px;
    }

    p {
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 16px;
    }
}

#fonctionnement {
    padding: 35px 25px 35px 25px;
    background: $color-white;

    h2 {
        margin: 30px 0 25px -8px;
    }
}

#restaurants {
    display: grid;
    background-color: $color-lightgray;
    padding: 25px 20px 45px 20px;

    h3 {
        font-size: 20px;
    }

    img {
        height: 138px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

.restaurants__cartes {
    margin-bottom: 20px;
    border-radius: 20px;
    @include box-shadow;
    position: relative;

    &__img {
        position: relative;

        .nouveau {
            position: absolute;
            top: -3px;
            right: 9px;

            p {
                background: $color-tertiary;
                padding: 8px;
                font-size: 15px;
                font-weight: bold;
                color: $color-tertiary-text;
            }
        }
    }

    &__description {
        background-color: $color-white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 2px solid $color-white;
        margin-top: -5px;

        h3 {
            margin: 12px 0 6px 10px;
        }

        p {
            margin: 0 0 0 10px;
            padding-bottom: 10px;
        }    
    }
    
    .coeur {
        display: flex;
        position: absolute;
        height: 24px;
        width: 24px;
        right: 22px;
        bottom: 36px;
        border: none;
        font-size: 25.5px;
        background: transparent;
               
            &:hover{
                clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
                background: linear-gradient(350deg, $color-primary, $color-secondary);

                i{
                    visibility: hidden;
                }
                
        }        

        i{
            position: absolute;
            left: -1px;
            bottom: -1px;
        }
    }
}

@media screen and (min-width:992px) {
    
    .restaurants__block__cartes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .restaurants__cartes{
        width: 88%;
    }

    .btn--fonctionnement{
        width: 30%;
        margin-right: 14px;
        margin-left: 14px;
    }
    #fonctionnement{

        h2{
            margin-top: 10px;
        }
    }


}