#block_pages {
    background-color: $color-gray;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -30px;
    position: relative;
    padding: 15px;
}

.entrees,
.plats,
.desserts {
    margin-bottom: 50px;

    h2 {
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 100;
    }

    .soulignement {
        width: 50px;
        height: 5px;
        background: $color-tertiary;
        margin-top: 0;
        margin-bottom: 18px;
    }
}

.nom_restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 21px;
        width: 70%;
    }
}

.menu {
    margin-bottom: 15px;
    border-radius: 12px;
    background-color: $color-white;
    @include box-shadow;
    overflow: hidden;
    animation: chargement $anim-dur both;

    &--carte {
        display: flex;
        width: 100%;
        

        &--description {
            width: 80%;
            transition: all 300ms ease;
        }

        .prix {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            font-weight: bold;
            padding-right: 10px;
            transform: translateX(0);
            transition: transform 300ms ease
        }

        .validation {
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            position: absolute;
            top: -2px;
            font-size: 25px;
            height: 64px;
            width: 60px;
            background-color: $color-tertiary;
            color: $color-white;
            transform: translateX(60px);
            transition: all 300ms ease;
        } 
    }

    &:hover, &:active {
        .menu--carte--description {
            width: 65%;
            transition: all 300ms ease;
        }

        .prix{
            transform: translateX(-60px);
            transition: transform 300ms;
        }

        .validation {
            transform: translateX(0);
            transition: all 300ms ease;

            i {
                transform: rotate(1turn);
                transition: all 400ms ease;
            }
        }
    }

    &:nth-child(3) {
        animation-delay: 700ms;
    }

    &:nth-child(4) {
        animation-delay: 800ms;
    }

    &:nth-child(5) {
        animation-delay: 900ms;
    }

    &:nth-child(6) {
        animation-delay: 1000ms;
    }

    h3 {
        margin: 10px 10px 6px 10px;
        font-size: 15px;
        max-width: 80%;
    }

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 0 10px 10px;
        font-size: 13.5px;
    }
}

#order {
    display: flex;
    width: 100%;
    justify-content: center;
}

@media screen and (min-width: 426px) {
    .background {
        object-position: 0px 62%;
        height: 300px;
    }
}

@media screen and (min-width: 920px) {

    .entrees, .plats, .desserts{
        width: 30%;
    }

    .block_menu{
        display: flex;
        justify-content: space-between;
    }
    .background{
        object-position: 0px 65%;
    }
}
