$color-primary: #9356dc;
$color-primary-light: lighten($color-primary, 4%);
$color-primary-hover: lighten($color-primary, 36%);
$color-secondary: #ff79da;
$color-secondary-light: lighten($color-secondary, 4%);
$color-tertiary: #99e2d0;
$color-tertiary-text: darken($color-tertiary, 40%);
$color-white: #fff;
$color-gray: #f2f2f2;
$color-lightgray: #f6f6f6;
$color-darkgray: #353535;
